body {
  color: #40514E;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

h1 {
  color: #66BFBF;
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
  font-size: 5.625rem;
}

h2 {
  color: #66BFBF;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
  font-weight: normal;
  padding-bottom: 10px;
}

h3 {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
}

hr{
  border: dotted #EAF6F6  10px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
}
a{
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  margin:10px 20px;
  text-decoration: none;
}
a:hover{
  color: #EAF6F6;
}
.top-container {
  background-color: #e4f9f5;
  position: relative;
  padding-top: 100px;
}

.middle-container {
  margin: 100px 0;
}

.bottom-container {
  background-color:#66BFBF;
  padding: 50px 0 20px;
}

p{
  line-height: 2;
}
.skill-row{
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
}
.en {
  text-decoration: underline;
  font-family: 'Montserrat', sans-serif;
}

.copy-right{
  color: #EAF6F6;
  font-size: 0.75%;
  padding: 20px 0;
}
.top-cloud {
  position: absolute;
  right: 300px;
  top: 40px;
}

.bottom-cloud {
  position: absolute;
  left: 250px;
  bottom: 300px;
}

.profile-picture {
  height: 250px;
  width: 250px;
  border-radius: 50%;
}

.decent {
  border-radius: 20%;
  width: 200px;;
  height: 250px;
  float: left;
  margin-right: 30px;
}

.keen{
  width: 30%;
  float: right ;
  margin-left: 30px;
}

.intro{
  width: 30%;
  margin: auto;
}

.message{
  width: 50%;
  margin: 40px auto 60px;
}

.button {
   background: #11CDDC;
   background-image: -webkit-linear-gradient(top, #11CDDC, #11999E);
   background-image: -webkit-gradient(top, #11CDDC, #11999E);
   background-image: -moz-linear-gradient(top, #11CDDC, #11999E);
   background-image: -ms-linear-gradient(top, #11CDDC, #11999E);
   background-image: -o-linear-gradient(top, #11CDDC, #11999E);
   background-image: linear-gradient(to bottom, #11CDDC, #11999E);
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   border-radius: 8px;
   color: #FFFFFF;
   font-family: Arial;
   font-size: 20px;
   font-weight: 100;
   padding: 40px;
   -webkit-box-shadow: 1px 1px 20px 0  #000000;
   -moz-box-shadow: 1px 1px 20px 0  #000000;
    box-shadow: 1px 1px 20px 0  #000000;
   text-shadow: 1px 1px 20px #000000;
   border: solid #337FED 1px;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
}

.button:hover {
   border: ridge #0059A0 1px;
   background: #30E3CB;
   background-image: -webkit-linear-gradient(top, #30E3CB, #2BC4AD);
   background-image: -moz-linear-gradient(top, #30E3CB, #2BC4AD);
   background-image: -webkit-gradient(top, #30E3CB, #2BC4AD);
   background-image: -ms-linear-gradient(top, #30E3CB, #2BC4AD);
   background-image: -o-linear-gradient(top, #30E3CB, #2BC4AD);
   background-image: linear-gradient(to bottom, #30E3CB, #2BC4AD);
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   text-decoration: none;
}
